{% extends 'studapp/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-3">Add Student</h3>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Roll Number</label>
                        <input type="number" name="roll" class="form-control" required>
                    </div>

                    <button class="btn btn-primary w-100">Add Student</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
