{% extends 'studapp/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-3">Mark Attendance</h3>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Student</label>
                        <select name="student" class="form-select">
                            {% for s in students %}
                                <option value="{{ s.id }}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="status" class="form-select">
                            <option value="present">Present</option>
                            <option value="absent">Absent</option>
                        </select>
                    </div>

                    <button class="btn btn-success w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
